<div class="modal-backdrop" (click)="onBackdropClick($event)">
  <div class="modal-card">
    
    <button class="modal-close" (click)="close.emit()">✕</button>

    <div class="modal-tabs" *ngIf="activeTab !== 'forgot'">
      <button class="tab" [class.active]="activeTab === 'login'" (click)="setTab('login')">
        Iniciar Sesión
      </button>
      <button class="tab" [class.active]="activeTab === 'register'" (click)="setTab('register')">
        Registrarse
      </button>
      <div class="tab-indicator" [class.right]="activeTab === 'register'"></div>
    </div>

    <div class="modal-body">
      <app-login 
        *ngIf="activeTab === 'login'"
        (forgotPassword)="setTab('forgot')">
      </app-login>
      <app-register *ngIf="activeTab === 'register'" (onRegisterSuccess)="setTab('login')"></app-register>
      <app-forgot-password 
        *ngIf="activeTab === 'forgot'"
        (backToLogin)="setTab('login')">
      </app-forgot-password>
    </div>

  </div>
</div>
